@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #1e293b;
  font-family: "Quicksand";
}

select,
option {
  font-family: "Quicksand", sans-serif !important;
  background-color: #374151;
  color: white;
}


.category-btn {
  transition: all 0.2s ease;
}

.category-btn:hover {
  transform: scale(1.05);
  background-color: #facc15; /* giallo più chiaro */
}

.category-btn:active {
  transform: scale(0.95);
}


button[type="submit"] {
  transition: all 0.2s ease;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  background-color: #fcd34d; /* giallo più chiaro */
}

button[type="submit"]:active {
  transform: translateY(1px);
}

.transazione-item {
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stat-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.stat-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
